// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
* Site header
*/
.site-header {
    border-bottom: 1px solid $border-color-02;
    min-height: none;
    line-height: unset;
  
    // Positioning context for the mobile navigation icon
    width: 100%;
    position: relative;
    left: 50vw;
    right: 50vw;
    margin-left: -50vw;
    margin-right: -50vw;
    // background-image: url('/assets/banner.png');
    background-color: $brand-color-light;
    background-size: cover;
    background-position: center;
    min-height: 14.1vw;
}

.banner {
  position: relative;
  color: darken($color: $site-title-color, $amount: 10);
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: unquote('max(calc((100% - #{$content-width}) / 2), 10vw)');
  max-width: 1080px;
  min-height: 5vh;
  padding: 1rem 1.25rem;
  text-decoration: none;
  width: 75%;

  .img-container {
    height: 120px;
    width: height;
    float: left;

    @include media-query($on-palm) {
      visibility: hidden;
      width: 0px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  h1 {
    font-weight: bolder;
    display: block;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  h2 {
    font-family: $base-font-family;
    display: block;
    font-size: 1.5rem;
    font-style: oblique;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
  }
}

.top-nav {
  align-self: flex-start;
  position: sticky;
  top: 0;
  background: darken($border-color-02, 10);

  .nav-link {
    display: inline-block;
    line-height: calc(1rem  0.5rem);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: $site-title-color;
    text-decoration-line: none;
    @include easeLinks;

    &:hover {
      background-color: $border-color-03;
      color: $link-hover-color;
    }
  }
  .link-exact-active {
    color: $brand-color-light;
    font-style: italic;
  }
}

.site-title {
    @include relative-font-size(2.25);
    letter-spacing: 1px;
    float: none;
     
    a:hover {
      text-decoration: none;
    }
}

.site-nav {
    .page-current {
        padding: 0 20px;
        color: $navlink-current-color;
        display: inline-block; /* For IE11/ MS Edge bug */
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
        text-decoration: none;
        font-style: oblique;
    }

    // @media screen and (min-width: $on-large) {
    //   top: unquote('calc(max(14.1vw, 165px) - 1.6rem)');
    // }

    @media screen and (min-width: $on-med-wide) {
      top: unquote('calc(max(14.1vw, 165px) - 1.6rem)');
    }

    @media screen and (min-width: $on-medium) and (max-width: $on-med-wide) {
      top: unquote('calc(max(14.1vw, 200.25px) - 1.6rem)');
    }

    @media screen and (min-width: $on-medium) {
        position: absolute;
        right: 0;
        margin-right: 0;
        padding-right: unquote('max(calc((100% - #{$content-width}) / 2), 10vw)');
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $border-color-02;
        background-color: rgba(darken($background-color, 5), 0.65);
        width: 100%;

        .page-link {
           padding: 0 20px;
      
            &:not(:last-child) {
                margin-right: 0;
            }
     
            &:hover {
                background-color: rgba(darken($background-color, 15), 0.65);
                text-decoration: none;
                color: $navlink-hover-color;
           }
        }
    }
}
